In [1]:
print("hello")

hello

In [2]:
a=10
b=20
print("a+b")

a+b

In [8]:
a=5
print(a)
print(type(a))

a=5,5
print(a)
print(type(a))

a="5"
print(a)
print(type(a))

a=[5]
print(a)
print(type(a))

a={5}
print(a)
print(type(a))

a=(5)
print(a)
print(type(a))

5
<class 'int'>
(5, 5)
<class 'tuple'>
5
<class 'str'>
[5]
<class 'list'>
{5}
<class 'set'>
5
<class 'int'>

In [9]:
a="abcd"
b="efgh"
c="ijkl"

print(a,b,c)
print(a+b+C)

abcd efgh ijkl

NameError: name 'C' is not defined

In [11]:
a=input()
print(a)
print(type(a))

 6

6
<class 'str'>

In [13]:
a=input()
print(a)

 6.6

6.6

In [15]:
a=input()
b=input()
c=int(a)+int(b)
print(c)
print(type(a))
print(type(b))
print(type(c))

 9
 19

28
<class 'str'>
<class 'str'>
<class 'int'>

In [20]:
a=int(input())
b=int(input())
c=a+b
print(c)
print(type(a))
print(type(b))
print(type(c))

 4
 5

9
<class 'int'>
<class 'int'>
<class 'int'>

In [31]:
a,b,c=input("enter three number: ").split()


d=(a,b,c)
print (d)

enter three number:  2 3 4

('2', '3', '4')

In [34]:
a,b,c=input("enter three number: ").split()


d=(a,b,c)
print (d)

enter three number:  1 3 4

('1', '3', '4')

In [35]:
a,b,c=input("enter three number: ").split()


d=(a,b,c)
print (d)

enter three number:  4 csk 5.5

('4', 'csk', '5.5')

In [36]:
a,b,c=input("enter three number: ").split()


d=(a+b+c)
print (d)

enter three number:  4 raj 4

4raj4

In [40]:
a,b,c=("enter three number: ").split()


d=(a,b,c)
print (d)

('enter', 'three', 'number:')

In [1]:
Name = input("Enter your Name: ")
age = int(input("Enter your Age: "))

if age>=18:
    print(Name)
    print("You are elegible")
else:
    print(Name)
    print("You are not elegible")

Enter your Name:  15
Enter your Age:  19

15
You are elegible

In [2]:
Name = input("Enter your Name: ")
age = int(input("Enter your Age: "))

if age>=18:
    print(Name)
    print("You are elegible")
else:
    print(Name)
    print("You are not elegible")

Enter your Name:  raj
Enter your Age:  16

raj
You are not elegible

In [3]:
Name = input("Enter your Name: ")
age = int(input("Enter your Age: "))

if 20>=18:
    print(Name)
    print("You are elegible")
else:
    print(Name)
    print("You are not elegible")

Enter your Name:  20
Enter your Age:  12

20
You are elegible

In [4]:
a=int(input())
b=int(input())
c=int(input())

if a>b:
    if a>c:
        print("a is largest")
    else:
        print("c is largest")
    else:
    if b>c:
    print("b is largest")
else:
print("c is largest")

SyntaxError: invalid syntax (1133506389.py, line 10)

In [16]:
a= int(input())
b= int(input())
c= int(input())

if a>b:
    if a>c:
        print("a is largest")
    else:
        print("c is largest")
else:
    if b>c:
        print("b is largest")
    else:
       print("c is largest")

 4
 5
 6

c is largest

In [27]:
marks = int(input("Enter your Marks: "))

if marks>=90 and marks<=100;
    print("Grade = A+")
 else:
     if marks>=80 and marks<=90;
         print("Grade = A")
      else:
         if marks>=70 and marks<=80;
          print("Grade = B+")
        else:
          if marks>=60 and marks<=70;
          print("Grade = B")
        else:
            if marks>=50 and marks<=60;
              print("Grade = C")
          else:
             if marks>=40 and marks<=50;
               print("Grade = D")
           else:
                if marks>=30 and marks<=40;
                    print("Grade = E")
                else:
                    if marks>=8 and marks<=30;
                       print("Grade = F")
                   else:
                   print("Invalid Marks")

IndentationError: unindent does not match any outer indentation level (<string>, line 5)

In [ ]:
Day = int(input(Enter the months))

In [ ]:
for x in range

In [2]:
x=0
while x<10:
    print(x)
    x=x+1

for y in range(0,10):
    print(Y)

0
1
2
3
4
5
6
7
8
9

NameError: name 'Y' is not defined

In [3]:
for x in range(0,20):
    print('*' * x)

*
**
***
****
*****
******
*******
********
*********
**********
***********
************
*************
**************
***************
****************
*****************
******************
*******************

In [ ]:
initlization
condition 
inc/dec
working statement

In [1]:
x=0
while x<10:
    print(x)
    x=x+1

for y in range(0,10):
    for x in range(0,y+1):
        print("*",end="")
        print()

0
1
2
3
4
5
6
7
8
9
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*

In [2]:
for y in range(0,10):
    for x in range(0,y+1):
        print("*",end="")
        print()

*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*

In [ ]:
def fibonacci(n):
    fib_sequence = [0, 1]
    while len(fib_sequence) < n:
        fib_sequence.append(fib_sequence[-1] + fib_sequence[-2])
    return fib_sequence

n = int(input("Enter the number of terms: "))
print(fibonacci(n))

In [1]:
# Program to check if a string is palindrome or not

my_str = 'aIbohPhoBiA'

# make it suitable for caseless comparison
my_str = my_str.casefold()

# reverse the string
rev_str = reversed(my_str)

# check if the string is equal to its reverse
if list(my_str) == list(rev_str):
   print("The string is a palindrome.")
else:
   print("The string is not a palindrome.")

The string is a palindrome.

In [4]:
# Python Program to check character is Lowercase or Uppercase
ch = input("Please Enter Your Own Character : ")
if(ch >= 'A' and ch <= 'Z'):
    print("The Given Character ", ch, "is an Uppercase Alphabet") 
elif(ch >= 'a' and ch <= 'z'):
    print("The Given Character ", ch, "is a Lowercase Alphabet")
else:
    print("The Given Character ", ch, "is Not a Lower or Uppercase Alphabet")

Please Enter Your Own Character :  1

The Given Character  1 is Not a Lower or Uppercase Alphabet

In [2]:
def reverse_number(num):
    reversed_num = 0
    while num > 0:
        rem = num % 10
        reversed_num = reversed_num * 10 + rem
        num //= 10
    return reversed_num

number = 6789
print(f"Reversed number: {reverse_number(number)}")

Reversed number: 9876

In [3]:
# Python 3 program to find
# factorial of given number

def factorial(n):

    # single line to find factorial
    return 1 if (n==1 or n==0) else n * factorial(n - 1) 


# Driver Code
num = 5
print ("Factorial of",num,"is",
      factorial(num))

Factorial of 5 is 120

In [9]:
 # Addition operation
num1 = 5
num2 = 10
result = num1 + num2
print("The result of addition is:", result)

The result of addition is: 15

In [10]:
# Subtraction operation
num1 = 15
num2 = 7
result = num1 - num2
print("The result of subtraction is:", result)

The result of subtraction is: 8

In [11]:
# Multiplication operation
num1 = 5
num2 = 10
result = num1 * num2
print("The result of multiplication is:", result)

The result of multiplication is: 50

In [12]:
# Division operation
numerator = 20
denominator = 5
result = numerator / denominator
print("The result of division is:", result)

The result of division is: 4.0

In [13]:
 # Modulus operation
dividend = 17
divisor = 5
remainder = dividend % divisor
print("The remainder of division is:", remainder)

The remainder of division is: 2

In [ ]:
 date 17/2024

In [2]:
a=[1,2,3,4,5,6]
print(a)

[1, 2, 3, 4, 5, 6]

In [5]:
a=[1,2,3,4,5,7]
print(type(a))

<class 'list'>

In [8]:
x=[1,2,3,4,5.6,7]
for a in range(0,5):
    print(x[a])

1
2
3
4
5.6

In [11]:
a=(type[1:10])
print(a)

type[slice(1, 10, None)]

In [12]:
from fractions import Fraction

fraction = Fraction(1, 10)
print(fraction)

1/10

In [ ]:
defextended
  extended list by appending 
def pop
remove and return iteam at index (default last)
raise indexerror

 def count 
runes number of occurences of value

def insert
insert before an index 

def remove 

def sort
sort the list in ascending order and return none.

len(list)
it is used for name of the list

In [14]:
a=[1,2,3,4,5]
b=a.copy()
print(b)

c=b.pop(3)
print(c)

print(b)
b.append(10)
print(b)

print(b)
b.append(10)
print(b)
b.append(3)
b.append(10)
b.append(4)
b.append(2)
print(b)

print(b.index(3))
print(b.count(3))
print(b.count(3))
b.insert(4,9)
print(b)
print(len(b))
b.sort(reverse=True)
print(b)
b.remove(3)
print(b)

[1, 2, 3, 4, 5]
4
[1, 2, 3, 5]
[1, 2, 3, 5, 10]
[1, 2, 3, 5, 10]
[1, 2, 3, 5, 10, 10]
[1, 2, 3, 5, 10, 10, 3, 10, 4, 2]
2
2
2
[1, 2, 3, 5, 9, 10, 10, 3, 10, 4, 2]
11
[10, 10, 10, 9, 5, 4, 3, 3, 2, 2, 1]
[10, 10, 10, 9, 5, 4, 3, 2, 2, 1]

In [28]:
n=int(input("Enter the size of list: "))
for x in range(0,n):
x=input()
a.append(x)
print(a)

IndentationError: expected an indented block after 'for' statement on line 2 (2645732775.py, line 3)

In [36]:
L = [item for item in input("Enter the elements of the list: ").split()]
print(L)

Enter the elements of the list:  1 2 3 4 5 6 7 8 9

['1', '2', '3', '4', '5', '6', '7', '8', '9']

In [38]:
a=list([1,2,3,4,5,6])
print(a)

[1, 2, 3, 4, 5, 6]

   tuple

In [39]:
a=(1,2,3,4,5,"esh")
print(b)
b[5]="esh"

a=tuple(b)
print(a)

[10, 10, 10, 9, 5, 4, 3, 2, 2, 1]
(10, 10, 10, 9, 5, 'esh', 3, 2, 2, 1)

In [42]:
a=(1,2,3,4,5,"esh")
print(a)

b=list(a)
print(b)
b[5]="esh"

a=tuple(b)
print(a)
print(a[-2])

(1, 2, 3, 4, 5, 'esh')
[1, 2, 3, 4, 5, 'esh']
(1, 2, 3, 4, 5, 'esh')
5

In [43]:
a=(1,2,3,4,5,6,7,8,9)
for x in range(-1,-1*(len(a)+1),-1):
    print(a[x])

9
8
7
6
5
4
3
2
1

In [44]:
a=(1,2,3,4,5,6,7,8,9)
for x in range(0,len(a)):
    print(a[-1*(x+1)])

9
8
7
6
5
4
3
2
1

Dictoniary

key and values
key values pair

  FOUR TYPES FUNCTION 
  key()
  value()
  function()
  get()
  copy()

In [45]:
D={1:"RAJ",2:"vardan",3:"rock"}
print(D)

print(D

{1: 'RAJ', 2: 'vardan', 3: 'rock'}

WRITE A PROGRAM TO TAKE KEY AND VALUE FROM THE USER ADD TO THE DICTONARY.IF KEY NOT PRESENT   OTHER WISE KEY IS EXISTING AND PRINT VALUE.

In [46]:
D={1:"RAGHU",2:"Md",3:"MK",2:"RD"}
print(D)

{1: 'RAGHU', 2: 'RD', 3: 'MK'}

In [48]:
D={1:"RAGHU",2:"Md",3:"MK","RD"}
print(D)

{1: 'RAGHU', 2: 'Md', 3: 'MKRD'}

In [49]:
D[4]="BITM"
print(D)

{1: 'RAGHU', 2: 'Md', 3: 'MKRD', 4: 'BITM'}

In [53]:
D={1:"bru",2:"co",3:"rk"}
print(D)
print(D[2])
print(D.keys())
print(D.values())
print(D.items())
D[4]="bru"
print(D)
D[5]="MK"
print(D)

{1: 'bru', 2: 'co', 3: 'rk'}
co
dict_keys([1, 2, 3])
dict_values(['bru', 'co', 'rk'])
dict_items([(1, 'bru'), (2, 'co'), (3, 'rk')])
{1: 'bru', 2: 'co', 3: 'rk', 4: 'bru'}
{1: 'bru', 2: 'co', 3: 'rk', 4: 'bru', 5: 'MK'}

 error and expection
 types of error
 diffrence between syntax error and expection
 write a program and implement a error expection

In [8]:
a=[1,2,3,4,5,6,7,8,9]
i=int(input("enter the index:"))
try:
    print(a[i])
except:
    print("there is no such index")

enter the index: 7

8

In [13]:
try:
    a=input()
    b=input()
    c=int(a)/int(b)
    x="hello"/3
except ValueError:
    print("Value unable to convert")
except ZeroDivisionError:
    print("Can't Divide by Zero")
except :
    print("Some unknown Error Found")
else :
    print("No Error")
finally:
  print("Code Execution done")

 10
 40

Some unknown Error Found
Code Execution done

In [ ]:
WRITE A python program to find some of all the elements in the list and handle the case non numeric value?
create a dictonary

In [1]:
my_list = [1, 2, 3, 'a', 5, 'b']

# Check if list contains non-numeric values
non_numeric_values = [x for x in my_list if not isinstance(x, (int, float))]

if non_numeric_values:
    print("List contains non-numeric values:", non_numeric_values)
else:
    print("List contains only numeric values.")

List contains non-numeric values: ['a', 'b']

In [4]:
student_grades = {
    "Eshwar": 85,
    "Brundha": 90,
    "Charu": 75,
    "David": 88,
    "Evs": 92
}

# Accessing grades of students
print("Eshwar's grade:", student_grades["Eshwar"])
print("Brundha's grade:", student_grades["Brundha"])
print("Charu's grade:", student_grades["Charu"])
print("David's grade:", student_grades["David"])
print("Evs's grade:", student_grades["Evs"])

# Adding a new student and grade
student_grades["Frank"] = 80

# Modifying an existing student's grade
student_grades["Brundha"] = 95


# Removing a student from the dictionary
del student_grades["Charu"]

print("Updated dictionary:", student_grades)
def calculate_average_grade(student_grades):
    if not student_grades:  # Check if the dictionary is empty
        print("Dictionary is empty. Cannot calculate average grade.")
        return None
    
    total_grade = sum(student_grades.values())
    average_grade = total_grade / len(student_grades)
    return average_grade

# Example student grades dictionary
student_grades = {
    "Eshwar": 85,
    "Brundha": 90,
    "Charu": 75,
    "David": 88,
    "Evs": 92
}

average = calculate_average_grade(student_grades)
if average is not None:
    print("Average grade:", average)

Eshwar's grade: 85
Brundha's grade: 90
Charu's grade: 75
David's grade: 88
Evs's grade: 92
Updated dictionary: {'Eshwar': 85, 'Brundha': 95, 'David': 88, 'Evs': 92, 'Frank': 80}
Average grade: 86.0